<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>

<body>
<!-- Header -->
<th:block th:include="~{fragments/guest-navbar}"/>

</div>

<!-- Content -->
<section id="content">
    <div class="container_24">

            </div>
            <div class="hr-border"></div>
            <div class="a1">
                <h2>Testimonials:</h2>
                <div>
                    <div class="grid_6 alpha">
                        <blockquote class="quote-1">
                            <div class="quote-1-inner"><span class="str-1">Sed sed felis arcu, vel vehicula augue. Maecenas faucibus sagittis cursus. Fusce tincidunt, tellus eget tristique cursus orci mi iaculis sem sit.</span>
                            </div>
                        </blockquote>
                        <div class="author alignright indents-1"><em> Richard Cox </em> (manager)</div>
                    </div>
                    <div class="grid_6">
                        <blockquote class="quote-1">
                            <div class="quote-1-inner"><strong>Sed sed felis arcu, vel vehicula augue.</strong><br>
                                Maecenas faucibus sagittis cursus. Fusce tincidunt, tellus eget tristique cursus orci mi
                                iaculis sem sit amet dictum velit velit eu.
                            </div>
                        </blockquote>
                        <div class="author alignright indents-1"><em> April Jeckson </em> (housewife)</div>
                    </div>
                    <div class="grid_6">
                        <blockquote class="quote-1">
                            <div class="quote-1-inner"><strong>Maecenas faucibus sagittis cursus.</strong><br>
                                Fusce tincidunt, tellus eget tristique cursus orci mi iaculis sem sit. amet.dictum velit
                                velit eu magna. Nunc viverra nisi sed orci tin.
                            </div>
                        </blockquote>
                        <div class="author alignright indents-1"><em> Alan Pool </em> (lawyer)</div>
                    </div>
                    <div class="grid_6 omega">
                        <blockquote class="quote-1">
                            <div class="quote-1-inner"><strong>Fusce tincidunt, tellus eget tristique cursus orci
                                mi</strong><br>
                                iaculis sem sit. amet.dictum velit velit eu magna. Nunc viverra nisi sed orci tincidunt
                                at hendrerit orci luctus. Andisse tincidunt, ipsu.
                            </div>
                        </blockquote>
                        <div class="author alignright indents-1"><em> Serg Brin </em> (manager)</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<footer>
    <div class="copyright"> &copy; 2012 <strong class="footer-logo">Pet clinic</strong>
        <div>Website Template by <a target="_blank" href="http://www.templatemonster.com/">TemplateMonster.com</a></div>
    </div>
    <ul class="social-list">
        <li><a href="#"><img src="images/social-link-1.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/social-link-2.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/social-link-3.jpg" alt=""></a></li>
        <li><a href="#"><img src="images/social-link-4.jpg" alt=""></a></li>
    </ul>
</footer>
</body>
</html>
