<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"/>

<body>
<!-- Header -->
<th:block th:include="~{fragments/guest-navbar}"/>

<!-- Content -->

<section id="content">
    <div class="slider-container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/slide-1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/slide-2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="images/slide-3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<th:block th:include="~{fragments/footer}"/>

</body>
</html>
